.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bold {
  font-weight: bold;
}

td {
  width: 50px;
}

.Content-wrapper {
  display: flex;
  justify-content: space-between;
}

.controls {
  position: relative;
  text-align: left;
  margin-right: 40px;
}

.form-row {
  display: block;
  padding-top: 16px;
}

.form-row:first-of-type {
  padding-top: 0;
}

.form-row > select {
  width: 100px;
  height: 20px;
}

.form-row > label {
  display: block;
  font-size: 16px;
  line-height: 18px;
}

.form-row > label.label-heading {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}
